/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Open Sans', 'Lato', 'Montserrat', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body.active {
  opacity: 0.5;
}

.container-960 {
  max-width: 960px;
  margin: auto;
}

.container-1080 {
  max-width: 1080px;
  margin: auto;
}

.container-1440 {
  max-width: 1440px;
  margin: auto;
}

ul {
  list-style-type: none;
}

i {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Open Sans';
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
  text-align: center;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  line-height: 5rem;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  color: #000;
}

header.active {
  background-color: #222;
  color: #fff;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .logo {
  font-size: 2rem;
  display: block;
}

header .header .logo .name:hover {
  background-color: transparent;
  text-decoration: none;
}

header .header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
}

header .header a {
  display: block;
  padding: 0 1rem;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
  text-align: center;
}

header .header a:hover {
  text-decoration: underline;
}

/* Moblie Menu */
aside {
  display: none;
  position: relative;
  z-index: 10;
}

section {
  padding: 5rem 1rem;
  position: relative;
}

section .title {
  font-size: 3rem;
  padding: 2rem 0;
}

section p {
  font-size: 1.25rem;
}

section#home {
  padding: 0;
  height: 100vh;
  z-index: 2;
  -webkit-box-shadow: 2px 2px 8px #888888;
          box-shadow: 2px 2px 8px #888888;
  background-color: #fff;
}

section#home .name-box {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section#home .name-box h1 {
  font-family: 'Lato';
  font-size: 4rem;
}

section#home .name-box h2 {
  font-size: 2rem;
}

section#home .name-box h2.role {
  font-weight: normal;
}

section#home .name-box h2.title {
  font-size: 3rem;
}

section#home .arrow-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #0a0729;
  padding: 1rem 0;
}

section#home .arrow-box p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

section#home .arrow-box i {
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: steelblue;
  font-size: 3rem;
  -webkit-animation: fade-in-out 2000ms ease-in-out infinite;
          animation: fade-in-out 2000ms ease-in-out infinite;
  opacity: 1;
}

section#home .arrow-box i a {
  color: #fff;
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

section#home .arrow-box a {
  color: #000;
}

section#about .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -0.5rem;
}

section#about .skills li {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #f2f2f2;
  -ms-flex-preferred-size: 226px;
      flex-basis: 226px;
  -webkit-box-shadow: 2px 2px 4px #888888;
          box-shadow: 2px 2px 4px #888888;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section#about .skills li i {
  font-size: 3rem;
  display: block;
  text-align: center;
}

section#about .skills li p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

@supports (display: grid) {
  section#about .skills ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(228px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
    grid-gap: 1rem;
    margin: 0;
  }
  section#about .skills li {
    width: auto;
    margin: 0;
  }
}

section#services {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  background-color: #0a0729;
  color: #fff;
  margin-bottom: -2rem;
  z-index: 5;
}

section#services > * {
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

section#services .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

section#services .step:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section#services .step:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section#services .step .circle {
  position: relative;
  text-align: center;
  background-color: steelblue;
  width: 16rem;
  height: 16rem;
  border: 1rem double #fff;
  border-radius: 50%;
}

section#services .step .circle .number {
  font-family: 'Montserrat';
  font-size: 10rem;
  font-weight: bold;
}

section#services .step .circle .title {
  position: relative;
  bottom: 3rem;
  padding: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

section#services .step p {
  font-size: 1.5rem;
  line-height: 150%;
  width: calc(100% - 18rem);
}

section#services .step p.odd {
  margin-left: 2rem;
}

section#services .step p.even {
  margin-right: 2rem;
}

section#projects .project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -0.5rem;
}

section#projects .project-list figure {
  -ms-flex-preferred-size: 349.33px;
      flex-basis: 349.33px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.5rem;
  text-align: center;
  -webkit-box-shadow: 2px 2px 8px #888888;
          box-shadow: 2px 2px 8px #888888;
}

section#projects .project-list figure .project-title {
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  background-color: #eee;
}

section#projects .project-list figure a {
  position: relative;
  width: 349.33px;
  height: 250px;
}

section#projects .project-list figure a .thumbnail {
  margin: auto;
  width: inherit;
  height: inherit;
  position: relative;
}

section#projects .project-list figure a .thumbnail .empty {
  position: absolute;
  width: 100%;
  font-size: 4rem;
  font-weight: 300;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: gray;
  z-index: -1;
}

section#projects .project-list figure figcaption {
  font-size: 1rem;
  padding: 1rem;
  background-color: #eee;
  font-weight: bold;
}

@supports (display: grid) {
  section#projects .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(349.33px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(349.33px, 1fr));
    grid-gap: 1rem;
    margin: 0;
  }
  section#projects .project-list figure {
    margin: 0;
  }
}

section#contact {
  background-color: lavender;
}

section#contact p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

section#contact .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -0.5rem;
}

section#contact .card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 349.33px;
      flex-basis: 349.33px;
  -webkit-box-shadow: 2px 2px 4px #888888;
          box-shadow: 2px 2px 4px #888888;
}

section#contact .card .card-title {
  padding-bottom: 1rem;
  text-align: center;
}

section#contact .card .card-title i {
  font-size: 3rem;
}

section#contact .card .card-title h3 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 300;
}

section#contact .card p {
  font-size: 1.25rem;
}

@supports (display: grid) {
  section#contact .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(349.33px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(349.33px, 1fr));
    grid-gap: 1rem;
    margin: 0;
  }
  section#contact .card {
    width: auto;
    margin: 0;
  }
}

/* Top Button */
.top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.top-btn.active {
  opacity: 1;
  z-index: 20;
}

.top-btn i {
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: steelblue;
  font-size: 3rem;
  opacity: 1;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  height: calc(100% - 248px);
  width: 100%;
  z-index: -10;
}

.modal.active {
  z-index: 9;
}

.modal.scrolled {
  height: 100%;
}

/* Footer Content */
footer {
  background-color: #0a0729;
  color: #fff;
  z-index: 10;
  position: relative;
}

footer .social-menu {
  padding: 2rem 0;
}

footer .social-menu h2 {
  font-weight: 300;
  font-size: 3rem;
}

footer .social-menu .social-links {
  text-align: center;
  font-size: 1.5rem;
}

footer .social-menu .social-links a {
  margin: 0 0.5rem;
}

footer .copyright {
  padding: 2rem 0;
  background-color: #222;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 700;
}

/* Tablet Display Only */
@media only screen and (max-width: 960px) {
  section#services .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  section#services .step .circle {
    width: 14rem;
    height: 14rem;
  }
  section#services .step .circle .number {
    font-size: 8rem;
  }
  section#services .step .circle .title {
    font-size: 1.5rem;
  }
}

/* Mobile Display Only */
@media only screen and (max-width: 767px) {
  header {
    display: none;
  }
  aside {
    position: fixed;
    width: 100%;
    background-color: #fff;
    line-height: 5rem;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
    -webkit-transition: background-color 250ms;
    transition: background-color 250ms;
  }
  aside.active {
    background-color: #222;
    color: #fff;
  }
  aside .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    position: relative;
  }
  aside .logo .name:hover {
    text-decoration: none;
  }
  aside .logo .hamburger {
    padding: 0 1rem;
  }
  aside .logo .hamburger .hamburger-inner,
  aside .logo .hamburger .hamburger-inner::before,
  aside .logo .hamburger .hamburger-inner::after {
    background-color: gray;
  }
  aside .logo .hamburger.is-active .hamburger-inner,
  aside .logo .hamburger.is-active .hamburger-inner::before,
  aside .logo .hamburger.is-active .hamburger-inner::after {
    background-color: gray;
  }
  aside .moblie-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    overflow: hidden;
    height: 0;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    background-color: #333;
    color: #fff;
  }
  aside .moblie-menu.open {
    height: 400px;
  }
  aside a {
    display: block;
    padding: 0 1rem;
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
    text-align: center;
  }
  aside a:hover {
    text-decoration: underline;
  }
  section h2.title,
  section h3.title {
    font-size: 2.25rem;
  }
  section#home .name-box h1 {
    font-size: 3rem;
  }
  section#home .name-box h2 {
    font-size: 1.5rem;
  }
  section#services .step {
    display: block;
    margin: auto;
    padding: auto;
  }
  section#services .step:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section#services .step .circle {
    margin: 1rem auto;
  }
  section#services .step p {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }
  section#services .step p.odd {
    margin-left: 0;
  }
  section#services .step p.even {
    margin-right: 0;
  }
  footer .copyright {
    font-size: 0.75rem;
  }
}
