/* Global Selectors */
/* PLEASE NOTE: wow.js animations won't work for Internet Explorer when using 'backface-visibility: hidden;'. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 1rem;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: transparent;
  color: #fff;
  width: 100%;
}

body.active {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

ul > li {
  display: block;
}

li > a {
  display: block;
  padding: 0 1rem;
}

* > a {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  margin-right: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal {
  display: flex;
}

.modal-space {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
}

.modal-space__active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  height: 100vh;
}

section {
  padding: 2rem;
  border-bottom: 1px solid #555;
  background-color: #fff;
  color: #000;
}

section:nth-child(even) {
  background-color: #333;
  color: #fff;
}

.hamburger {
  height: 4rem;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 1;
}

.btn {
  background-color: inherit;
  color: inherit;
  height: 50px;
  width: 100px;
  right: 0;
  bottom: 0;
  border: none;
  transition: 250ms;
  cursor: pointer;
  font-size: 1.5rem;
  border-top-left-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.btn--top {
  background-color: #222;
  color: #fff;
  position: fixed;
  z-index: -1;
  transition: 500ms ease;
  opacity: 0;
}

.btn--top__active {
  background-color: #222;
  color: #fff;
  position: fixed;
  z-index: 5;
  opacity: 1;
}

.btn--top a {
  line-height: 50px;
  display: block;
}

.btn--top:hover {
  background-color: #444;
}

/* Header-only Selectors */
header {
  background-color: #222;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 10;
  border-bottom: 1px solid #000;
  transition: 250ms ease;
}

header.active {
  background-color: #333;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 10;
  border-bottom: 1px solid #000;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: inherit;
}

.top--brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: inherit;
}

.top--brand--logo {
  font-size: 2rem;
  width: 100%;
}

.top--brand--logo a {
  display: block;
  padding: 16px;
  text-align: right;
}

.top--menu {
  display: none;
}

.top--menu ul {
  font-size: 0;
}

.top--menu li {
  line-height: 4rem;
  transition: 250ms;
}

.top--menu li:hover {
  background-color: #444;
}

.top--menu a {
  display: block;
  font-size: 1rem;
}

/* Main content-specfic Selectors */
.content {
  background-color: #333;
  color: #fff;
}

.content--top {
  height: 100vh;
  /* background: url('../images/image.jpg'); */
  background-color: #fff;
  color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative;
  padding: 0;
}
.content--top p.content--name {
  font-size: 4rem;
}

.content--top p.content--role {
  font-size: 1.5rem;
}

.content--top p,
.content--top ul,
.content--scroll {
  position: relative;
  top: 45%;
  text-align: center;
}

.content--top ul {
  margin-top: 0.5rem;
}

.content--top li {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: 1px solid;
  border-radius: 0.5rem;
  transition: 0.25s ease;
}

.content--top li:hover {
  background-color: #555;
  color: #fff;
}

.content--top a {
  padding: 0.5rem;
}

.content--scroll {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -100%);
  animation: content--scroll 1500ms infinite;
}

.content--scroll a {
  padding: 0;
}

@keyframes content--scroll {
  0%,
  100% {
    transform: translate(-50%, -100%);
  }

  50% {
    transform: translate(-50%, -80%);
  }
}

.content--top .fa-chevron-down {
  margin-right: 0;
  font-size: 3rem;
  transition: 250ms ease;
}

.content--top .fa-chevron-down:hover {
  opacity: 0.6;
}

.content--name {
  font-size: 2.5rem;
  font-weight: bold;
}

.content--role {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.content--title {
  font-weight: bold;
  text-align: center;
  display: block;
  font-weight: 400;
  font-size: 2rem;
  margin: 2rem 0;
}

.content--about p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.content--about div {
  margin-top: 2rem;
  text-align: center;
}

.content--about h2 {
  margin-top: 2rem;
  text-align: center;
}

.content--about ul {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content--about li {
  font-size: 1.5rem;
  line-height: 1.25;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0.5rem;
  width: 250px;
}

.content--about li p {
  border-top: 1px solid #000;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  height: 200px;
  text-align: left;
}

.content--skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content--skills li {
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-basis: 240px;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  transition: 250ms;
}

.content--skills li:hover {
  background-color: #aaa;
}

.content--skills i {
  font-size: 2rem;
  margin: 0 1rem;
}

.content--skills span {
  font-size: 1rem;
}

.content--projects--body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content--projects--body figure {
  margin: 0.5rem;
  width: 300px;
  position: relative;
}

.content--projects--body a {
  background-color: #fff;
  height: 200px;
  font-size: 2.5rem;
  line-height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  text-align: center;
  color: #000;
}

.content--projects--body figure img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 300px;
}

.content--projects--body figcaption {
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  min-height: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content--projects a {
  display: block;
}

.content--hire {
  text-align: center;
}

.content--hire ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content--hire li {
  width: 250px;
  margin: 0.5rem;
  border: 1px solid #000;
  padding-top: 1rem;
  border-radius: 0.5rem;
}

.content--hire i {
  font-size: 2rem;
}

.content--hire li h3 {
  width: 100%;
  border-bottom: 1px solid #000;
}

.content--hire li i,
.content--hire li h3 {
  padding-bottom: 1rem;
  width: 100%;
}

.content--hire li p {
  padding: 1rem;
  height: 100px;
  margin-bottom: 1.5rem;
}

.content--connect {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content--connect ul {
  margin-top: 1rem;
}

.content--connect li {
  font-size: 2rem;
  display: inline-block;
  transition: 250ms ease;
}

.content--connect li:hover {
  opacity: 0.6;
}

/* Sidebar-specfic Selectors */
aside {
  background-color: #222;
  position: fixed;
  top: 4rem;
  left: -100%;
  height: calc(100vh - 4rem);
  width: 100%;
  display: block;
  z-index: 10;
  transition: 250ms ease-out;
}

aside.open {
  left: 0;
}

.sidebar {
  position: relative;
  height: calc(100vh - 4rem);
  overflow-y: visible;
  overflow-x: hidden;
}

.sidebar--menu--title {
  font-weight: normal;
  text-transform: uppercase;
  padding: 1rem 0 1rem 1rem;
  color: #aaa;
}

.sidebar--menu ul {
  border-bottom: 1px solid #000;
}

.sidebar--menu li {
  line-height: 4rem;
  transition: 250ms;
  font-size: 1.25rem;
}

.sidebar--menu li:hover {
  background-color: #444;
}

footer {
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tablet Only */
@media (min-width: 768px) {
  .top--brand {
    width: 240px;
    border-right: 1px solid #000;
  }

  .top--menu {
    display: block;
  }

  .top--menu li {
    display: inline-block;
  }

  .top--menu a {
    display: block;
  }

  aside {
    width: 240px;
    left: -240px;
  }

  .aside.open {
    left: 0;
    width: 240px;
  }

  .btn--back {
    right: 100%;
  }

  .btn--back__active {
    right: calc(100% - 240px);
  }

  main,
  footer {
    padding-left: 0;
    transition: 250ms ease-out;
  }

  main.active,
  footer.active {
    padding-left: 240px;
  }

  .content--connect {
    flex-direction: row;
  }

  .content--connect ul {
    margin-top: 0;
  }
}

/* Desktop Only*/
@media (min-width: 1024px) {
}

/* Widescreen-Desktop Only */
@media (min-width: 1216px) {
}

/* Full HD Only */
@media (min-width: 1408px) {
}
