// Section -- CONTACT SECTION
section {
  &#contact {
    form {
      .form-group {
        margin-bottom: 1rem;

        input,
        textarea {
          width: calc(100% - 2rem);
          border-radius: 0.25rem;
          padding: 1rem;
          font-size: 1.25rem;
          font-family: 'Nunito';
          box-shadow: none;
        }

        button {
          margin-right: 1rem;
          padding: 1rem;
          border-radius: 0.25rem;
          font-size: 1.25rem;
          background-color: $secondary-color;
          color: white;
        }
      }
    }
  }
}
