// Section -- CONTACT SECTION
section {
  &#contact {
    form {
      .form-group {
        margin-bottom: 1rem;

        input,
        textarea {
          width: 100%; 
          border-radius: 0.25rem;
          padding: 1rem;
          font-size: 1.25rem;
          font-family: 'Nunito';
          box-shadow: none;
          border: 2px solid black;
          resize: vertical;

          &:focus {
            background-color: $first-accent;
          }
        }

        label {
          font-size: 1.25rem;
          margin-bottom: 0.25rem;
          display: block;
        }

        button {
          margin-right: 1rem;
          padding: 1rem;
          border-radius: 0.25rem;
          font-size: 1.25rem;
          background-color: $secondary-color;
          color: white;
          border: none;
          cursor: pointer;
          transition: background 250ms ease;

          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}
