/* Footer Content */
footer {
  background-color: rgb(10, 7, 41);
  color: #fff;
  z-index: 9;
  position: relative;

  .social-menu {
    padding: 2rem 0;

    h2 {
      font-weight: 300;
      font-size: 3rem;
    }

    .social-links {
      margin-top: 0.5rem;
      text-align: center;
      font-size: 1.75rem;

      a {
        margin: 0 0.5rem;
      }
    }
  }

  .copyright {
    padding: calc(2rem + 3px) 0;
    background-color: #222;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.1px;
    font-weight: 700;
  }
}
