// Vendor (3rd-Party) Partials
@import 'reset';
@import 'animate';
@import 'hamburgers';

// Config Partials
@import 'config';

/* GLOBAL */
body {
  font-family: 'Nunito', 'Open Sans', 'Lato', 'Montserrat', Arial, Helvetica,
    sans-serif;
  overflow-x: hidden;
  margin: auto;
  background-color: #fff;

  &.active {
    overflow: hidden;
  }
}

.container-960 {
  max-width: 960px;
  margin: auto;
}

.container-1080 {
  max-width: 1080px;
  margin: auto;
}

.container-1440 {
  max-width: 1440px;
  margin: auto;
}

ul {
  list-style-type: none;
}

i {
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Open Sans';
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
  text-align: center;
}

/* Mobile Menu */
aside {
  display: none;
  position: relative;
  z-index: 20;
}

// Section -- GLOBAL
section {
  padding: 5rem 1rem;
  position: relative;
  background-color: #fff;

  .title {
    font-size: 3rem;
    padding: 2rem 0;
  }

  p {
    font-size: 1.25rem;
  }
}

// Header Partial
@import 'header';

// Section Partials
@import 'home';
@import 'about';
@import 'projects';
@import 'perks';
@import 'contact';

// Footer Partial
@import 'footer';

// Utility/Component Partials
@import 'button';
@import 'modal';

// Media Query Partials (Tablet + Mobile)
@import 'tablet';
@import 'mobile';
